#root {
 max-width: 1280px;
 font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 font-size: 2vh;
 margin: 0 auto;
 text-align: center;
}

body {
 background-color: #b3cffb;
}

.navbar-link {
 transition: transform 0.4s;
}
.navbar-link:hover {
 transform: scale(1.1);
 color: white;
}

.main-navbar {
 display: flex;
 justify-content: space-around;
 width: 90%;
 margin: 0 auto;
 padding: 0 0 8px 3px;
 border-bottom: solid rgb(0, 5, 73) 2px;
 border-left: solid rgb(0, 5, 73) 2px;
 border-right: solid rgb(0, 5, 73) 2px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 background-color: #7082a075;
}

button.single-article-vote {
 background-color: rgb(0, 5, 73);
 border-width: 0;
 border-radius: 5px;
 color: rgb(255, 255, 255);
 padding: 0.4em;
 margin-left: 5px;
 height: 1.8em;
 width: 1.8em;
}

.vote-tag {
 font-size: 0.7em;
}

button.comment-delete-button {
 background-color: rgb(0, 5, 73);
 border-width: 0;
 display: block;
 border-radius: 5px;
 color: rgb(255, 255, 255);
 padding: 0.4em;
 margin: 3px auto;
 height: 1.8em;
 width: 10em;
}

button:hover {
 background-color: rgb(155, 245, 245);
 color: rgb(0, 5, 73);
}
button:disabled {
 background-color: grey;
}

h1 {
 background-color: rgb(0, 5, 73);
 border-radius: 20px;
 color: rgb(255, 255, 255);
 margin: 0 auto 0 auto;
 padding: 1%;
 font-size: 4em;
}
.welcome-header {
 text-decoration: underline;
}

.header-icon {
 height: 0.7em;
 background-color: white;
 border-radius: 10px;
 margin-right: 10px;
}

/* Filters and queries ********************************************************/
.filters-header {
 margin-bottom: 0.5%;
 margin: 0;
}

.filter-container {
 background-color: #7082a075;
 width: 60%;
 margin: 20px auto;
 border: 2px solid black;
 border-radius: 12px;
 padding-bottom: 10px;
}

.query-options {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 margin: 0 auto 0 auto;
}
.topic-container,
.sortby-container,
.order-container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width: 80%;
 max-width: 400px;
 margin: 5px auto;
}

#sortByProperty,
#sortByTopic,
#order {
 width: 50%;
 font-size: 0.8em;
 padding: 3px;
}
select {
 height: 80%;
 margin-bottom: 5px;
 padding: 0 2px;
 border-width: 0;
 border-radius: 6%;
 color: white;
 background-color: rgb(0, 5, 73);
}

/* Article List ************************************************************************** */
.article-list {
 width: 90%;
 margin: 0 auto;
 padding: 0;
 list-style: none;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 background-color: #7082a075;
 border: solid 2px black;
 border-radius: 12px;
}

.article-card {
 border: solid black 2px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 background-color: white;
 border-radius: 3%;
 margin: 2%;
 padding: 0;
 width: 100%;
 min-width: 280px;
 max-width: 300px;
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
  rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
 transition: transform 0.2s;
}

.article-card:hover {
 transform: scale(1.1);
}

.article-img {
 width: 100%;
 border-top-left-radius: 3%;
 border-top-right-radius: 3%;
}

.article-title {
 width: 100%;
 text-decoration: underline;
 justify-self: start;
 margin: 1% auto 0 auto;
}

.article-topic {
 margin-top: 0;
}

.article-comments {
 width: 49%;
 margin: 0 2% 0 auto;
 display: inline;
}
.comments-icon {
 height: 1em;
 display: inline;
 margin: 0;
}

.votes-icon {
 height: 1em;
 margin: 0 0 0 2%;
}

.article-votes {
 width: 49%;
 margin: 0 auto;
 display: inline;
}
.article-date {
 margin: 0 0 1px 0;
 font-size: 0.7em;
}

.article-id {
 grid-row: 2;
 grid-column: 4;
 justify-self: center;
 align-self: center;
}

.article-author {
 margin-top: 1%;
 margin-bottom: 0;
 font-size: 0.7em;
}

/* Single Article CSS *******************************************************/
.single-article {
 width: 80%;
 margin: auto;
}

.single-article-nav {
 text-align: left;
 width: 100%;
 margin: 20px;
 font-size: 0.7em;
}
.single-article-body {
 font-size: 1em;
}

.single-article-label {
 font-size: 0.8em;
 margin-right: 10px;
}
.single-article-input {
 font-size: 0.8em;
 margin-left: 5px;
}
.comment-submit {
 background-color: rgb(0, 5, 73);
 border-width: 0;
 border-radius: 5px;
 color: rgb(255, 255, 255);

 margin: 3px auto;
 height: 1.6em;
 width: 5em;
}

.single-article-title {
 text-decoration: underline;
 font-size: 1.8em;
 margin-bottom: 0;
}

.single-article-topic {
 font-size: 1em;
 text-align: left;
 margin-top: 0px;
}

.single-article-img {
 width: 80vw;
 margin: auto;
 max-width: 80%;
 border: black solid 2px;
 border-radius: 10px;
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
  rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.single-article-vote {
 margin: auto;
}

.single-article-input {
 border-radius: 6px;
 border: 1px solid black;
}

.single-article-input::placeholder {
 color: rgb(0, 5, 73);
}

/* COMMENTS CSS *******************************************************************************/

.comments-list {
 border-top: 1px solid black;
 list-style-type: none;
 width: 100%;
 margin: 0;
 margin-top: 10px;
 padding: 0;
}
.comments-list-empty {
 border-top: 1px solid black;
 list-style-type: none;
 width: 100%;
 margin: 0;
 margin-top: 10px;
 padding: 20px 0 100px 0;
}

.comment-body {
 width: 100%;
 font-size: 0.7em;
 margin: 0;
 padding: 0;
}

.comment-voting {
 display: block;
 margin: 0;
 padding: 0;
 margin-block-end: 0;
 margin-block-start: 0;
}
.comment-votes {
 margin: 0;
 padding: 0;
}

.comment-card {
 border: 1px solid black;
 padding: 5px 10px;
 margin: 5px 0;
 border-radius: 10px;
 background-color: #7082a075;
}

.comment-delete-button {
 margin-left: 10px;
}
/* Errors *********************************************************************************/
.error-msg {
 color: red;
}
.error-404-img {
 width: 100%;
 max-width: 700px;
 margin: 10px auto;
 border: black solid 1px;
 border-radius: 5%;
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
  rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.error-404-link {
 display: block;
}
.error-500-img {
 width: 100%;
 max-width: 700px;
 margin: 10px auto;
 border: black solid 1px;
 border-radius: 5%;
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
  rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.error-500-link {
 display: block;
}

.hot-article {
 border: black solid 1px;
}

/* Hot Article CSS **************************************************************************/
.random-article-tile {
 background-color: #7082a075;
 width: 80%;
 margin: 50px auto;
 border: 2px solid black;
 border-radius: 12px;
 padding-bottom: 20px;
}

.random-article-list {
 width: 80%;
 margin: 0 auto;
 padding: 0;
 list-style: none;
 display: block;
 flex-direction: column;
 flex-wrap: wrap;
 justify-content: center;
}

.random-article-card {
 border: solid black 2px;
 display: block;
 flex-direction: column;
 justify-content: space-between;
 background-color: white;
 border-radius: 3%;
 margin: 0 auto;
 padding: 0;
 width: 80%;
 min-width: 280px;
 max-width: 500px;
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
  rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.random-article-img {
 width: 100%;
 border-top-left-radius: 3%;
 border-top-right-radius: 3%;
}

.random-article-title {
 grid-row: 1;
 grid-column: 1/5;
 width: 100%;
 text-decoration: underline;
 justify-self: start;
 /* align-self: center; */
 padding-bottom: 0px;
 margin: 1% auto 0 auto;
}

.random-article-topic {
 margin-top: 0;
}

.random-article-comments {
 width: 49%;
 margin: 0 2% 0 auto;
 display: inline;
}
.comments-icon {
 height: 1em;
 display: inline;
 margin: 0;
}

.votes-icon {
 height: 1em;
 margin: 0 0 0 2%;
}

.random-article-votes {
 width: 49%;
 margin: 0 auto;
 display: inline;
}
.random-article-date {
 margin-top: 1%;
 font-size: 0.7em;
}

.random-article-id {
 grid-row: 2;
 grid-column: 4;
 justify-self: center;
 align-self: center;
}

.random-article-author {
 grid-row: 3;
 grid-column: 4;
 justify-self: center;
 align-self: center;
}

a {
 color: rgb(0, 5, 73);
}

a:visited {
 color: rgb(0, 5, 73);
}

a:hover {
 color: rgb(0, 113, 121);
}

/* User Profile ************************************************************* */

.profile-card {
 background-color: #7082a075;
 width: 80%;
 margin: 50px auto;
 border: 2px solid black;
 border-radius: 12px;
}

.logout-button {
 background-color: rgb(0, 5, 73);
 border-width: 0;
 border-radius: 5px;
 color: rgb(255, 255, 255);
 font-size: 1em;
 padding: 0;
 height: 2em;
 width: 8em;
}

.confirm-logout-button {
 background-color: rgb(0, 5, 73);
 font-size: 1em;
 border-width: 0;
 display: block;
 margin: 0 auto 5px auto;
 border-radius: 5px;
 color: rgb(255, 255, 255);
 padding: 0.4em;
 height: 2em;
 width: 10em;
}
.cancel-logout-button {
 background-color: rgb(255, 0, 0);
 display: block;
 margin: 0 auto 5px auto;
 font-size: 1em;
 border-width: 0;
 border-radius: 5px;
 color: rgb(255, 255, 255);
 padding: 0.4em;
 height: 2em;
 width: 10em;
}
.enter-username-container {
 border: 1px solid black;
 margin: 20px auto;
 border-radius: 12px;
 padding: 20px 0;
 background-color: #7082a075;
 width: 80%;
}
.create-user-container {
 border: 1px solid black;
 margin: 20px auto;
 border-radius: 12px;
 padding: 20px 0;
 background-color: #7082a075;
 width: 80%;
}

.username-container,
.name-container,
.avatar-container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin: 0 auto;
 width: 80%;
 max-width: 400px;
}

.create-username-input,
.create-name-input,
.create-avatar-input {
 padding: 0;
 text-align: center;
 border-radius: 6px;
 border: 1px solid black;
}
.create-user-submit {
 background-color: rgb(0, 5, 73);
 border-width: 0;
 border-radius: 5px;
 color: rgb(255, 255, 255);
 font-size: 1em;
 margin: 20px auto 0 auto;
 height: 2em;
 width: 10em;
}
.user-profile-img-container {
 display: block;
 margin: 20px auto;
 height: 30vh;
 max-width: 500px;
 max-height: 500px;
 min-width: 200px;
 min-height: 10px;
}
.user-profile-img-container img {
 object-fit: contain;
 width: auto;
 height: 100%;
}
.user-profile-img {
 border: 1px solid black;
 border-radius: 10%;
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
  rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.post-article-form {
 border: 1px solid black;
 width: 80%;
 margin: 0 auto;
 border-radius: 12px;
 background-color: #7082a075;
}

.create-title-container,
.create-topic-container,
.create-body-container,
.create-url-container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width: 80%;
 max-width: 400px;
 margin: 10px auto;
}

#create-article-title,
#create-article-body,
#create-article-topic,
#create-article-url {
 padding: 0;
 text-align: center;
 border-radius: 6px;
 border: 1px solid black;
 width: 50%;
}
#create-article-topic {
 height: 2.5em;
 font-size: 0.55em;
 margin: 0;
 padding: 5px;
 border-width: 0;
 border-radius: 6%;
 color: white;
 background-color: rgb(0, 5, 73);
}

.create-user-submit {
 background-color: rgb(0, 5, 73);
 border-width: 0;
 border-radius: 10px;
 color: rgb(255, 255, 255);
 font-size: 1em;
 margin: 20px auto 0 auto;
 height: 2em;
 width: 10em;
}
.create-article-submit {
 background-color: rgb(0, 5, 73);
 border-width: 0;
 border-radius: 5px;
 color: rgb(255, 255, 255);
 font-size: 1em;
 margin: 20px auto 20px auto;
 height: 1.5em;
 width: 8em;
}

/* Create Topic CSS **************************************************************************/
.topic-form {
 border: 1px solid black;
 width: 80%;
 margin: 0 auto;
 border-radius: 12px;
 background-color: #7082a075;
}

.topic-slug-container,
.topic-description-container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width: 80%;
 max-width: 400px;
 margin: 10px auto;
}
#topic-slug,
#topic-description {
 padding: 0;
 text-align: center;
 width: 50%;
 border-radius: 6px;
 border: 1px solid black;
}
.create-topic-submit {
 background-color: rgb(0, 5, 73);
 border-width: 0;
 border-radius: 5px;
 color: rgb(255, 255, 255);
 font-size: 1em;
 margin: 20px auto 20px auto;
 height: 1.5em;
 width: 8em;
}

/* PARTY MODE ***********************************************************************/

/* 88888888888888888888888888888888888888888888888888888888888888888888888888888888888 */

/* PARTY MODE ***********************************************************************/

/* PARTY MODE ***********************************************************************/

/* PARTY MODE ***********************************************************************/

body.party-mode {
 background-color: black;
 color: white;
}

body.party-mode .navbar-link {
 color: white;
 animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
 0% {
  transform: scale(1, 1);
 }
 50% {
  transform: scale(1.5, 1.5);
 }
 100% {
  transform: scale(1, 1);
 }
}

body.party-mode .navbar-link {
}

body.party-mode .main-navbar {
 background-color: #7082a075;
}

body.party-mode button.single-article-vote {
 background-color: rgb(0, 5, 73);
 color: rgb(255, 255, 255);
}

body.party-mode button.comment-delete-button {
 background-color: rgb(0, 5, 73);
 color: rgb(255, 255, 255);
}

body.party-mode button:hover {
 background-color: rgb(155, 245, 245);
 color: rgb(0, 5, 73);
}
body.party-mode button:disabled {
 background-color: grey;
}

body.party-mode h1 {
 background-color: rgb(252, 252, 252);

 text-transform: uppercase;
 background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
 background-size: auto auto;
 background-clip: border-box;
 background-size: 200% auto;
 color: #fff;
 background-clip: text;
 text-fill-color: transparent;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: textclip 2s linear infinite;
 display: inline-block;
 font-size: 70px;
 box-shadow: blue 0px 0px 0px 2px inset, rgb(0, 0, 0) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(0, 0, 0) 20px -20px 0px -3px,
  rgb(255, 217, 19) 20px -20px, rgb(0, 0, 0) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(0, 0, 0) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
 color: rgb(3, 3, 3);
}
@keyframes textclip {
 to {
  background-position: 200% center;
 }
}

body.party-mode .header-icon {
 background-color: white;
}

/* Filters and queries */
body.party-mode select {
 color: white;
 background-color: rgb(0, 5, 73);
}
/* Article List ************************************************************************** */
body.party-mode .article-card {
 border: solid rgb(255, 255, 255) 2px;
 color: black;
 margin-bottom: 40px;
 background-color: white;
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
  rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
 transition: transform 0.2s;
 box-shadow: blue 0px 0px 0px 2px inset, rgb(0, 0, 0) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(0, 0, 0) 20px -20px 0px -3px,
  rgb(255, 217, 19) 20px -20px, rgb(0, 0, 0) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(0, 0, 0) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
 color: rgb(3, 3, 3);
 animation: spin 3000ms infinite linear;
}
@keyframes spin {
 from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(360deg);
 }
}

body.party-mode .article-card:hover {
 animation: bounce 1s linear infinite;
}

@keyframes bounce {
 0%,
 20%,
 50%,
 80%,
 100% {
  transform: translateY(0);
 }
 20% {
  transform: translateY(-60px);
 }
 60% {
  transform: translateY(-60px);
 }
}

body.party-mode h3 {
 color: black;
}

/* Single Article CSS *******************************************************/
body.party-mode .comment-submit {
 background-color: rgb(0, 5, 73);
 color: rgb(255, 255, 255);
}

body.party-mode .single-article-img {
 border: black solid 2px;
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
  rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

body.party-mode .single-article-input {
 border: 1px solid black;
}

body.party-mode .single-article-input::placeholder {
 color: rgb(0, 5, 73);
}

/* COMMENTS CSS *******************************************************************************/

body.party-mode .comments-list {
 border-top: 1px solid black;
}

body.party-mode .comment-card {
 border: 1px solid black;
 background-color: #7082a075;
 box-shadow: blue 0px 0px 0px 2px inset, rgb(0, 0, 0) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(0, 0, 0) 20px -20px 0px -3px,
  rgb(255, 217, 19) 20px -20px, rgb(0, 0, 0) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(0, 0, 0) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
 color: rgb(3, 3, 3);
 animation: spin 3000ms infinite linear;
}
@keyframes spin {
 from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(360deg);
 }
}

/* Errors *********************************************************************************/
body.party-mode .error-msg {
 color: red;
}
body.party-mode .error-404-img.party-mode {
 border: black solid 1px;
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
  rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

body.party-mode .error-500-img {
 border: black solid 1px;
 box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
  rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

body.party-mode .hot-article {
 border: black solid 1px;
}

/* Hot Article CSS **************************************************************************/

body.party-mode .random-article-tile {
 box-shadow: blue 0px 0px 0px 2px inset, rgb(0, 0, 0) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(0, 0, 0) 20px -20px 0px -3px,
  rgb(255, 217, 19) 20px -20px, rgb(0, 0, 0) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(0, 0, 0) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
 color: rgb(3, 3, 3);
}

body.party-mode .random-article-card {
 border: solid black 2px;
 background-color: white;
 animation: spin 3000ms infinite linear;
}
@keyframes spin {
 from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(360deg);
 }
}

body.party-mode a {
 color: rgb(255, 255, 255);
}

body.party-mode a:visited {
 color: rgb(255, 255, 255);
}

body.party-mode a:hover {
 color: rgb(0, 113, 121);
}

/* User Profile ************************************************************* */

body.party-mode .logout-button {
 background-color: rgb(0, 5, 73);
 color: rgb(255, 255, 255);
}

body.party-mode .confirm-logout-button {
 background-color: rgb(0, 5, 73);
 color: rgb(255, 255, 255);
}

/* CSS */
body.party-mode button {
 padding: 0.6em 2em;
 border: none;
 outline: none;
 color: rgb(255, 255, 255);
 background: #111;
 cursor: pointer;
 position: relative;
 z-index: 0;
 border-radius: 10px;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
}

body.party-mode button:before {
 content: "";
 background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
 position: absolute;
 top: -2px;
 left: -2px;
 background-size: 400%;
 z-index: -1;
 filter: blur(5px);
 -webkit-filter: blur(5px);
 width: calc(100% + 4px);
 height: calc(100% + 4px);
 animation: glowing-button-85 20s linear infinite;
 transition: opacity 0.3s ease-in-out;
 border-radius: 10px;
}

@keyframes glowing-button-85 {
 0% {
  background-position: 0 0;
 }
 50% {
  background-position: 400% 0;
 }
 100% {
  background-position: 0 0;
 }
}

body.party-mode button:after {
 z-index: -1;
 content: "";
 position: absolute;
 width: 100%;
 height: 100%;
 background: #222;
 left: 0;
 top: 0;
 border-radius: 10px;
}
